---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col-reverse items-center md:flex-row" >
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10" id="hero" >
        <div class="text-left space-y-12 gap-[350px] bg-[url('herobg.png')] bg-contain bg-bottom bg-no-repeat w-full h-80px py-5"  >
            <h1 class="text-5xl font-bold leading-none md:text-5xl text-center md:text-left px-7">AI Powered expense <br>  management <br> to help businesses <br> reduce cash leakage</h1>
            <p class="mt-6 mb-8  text-xl font-bold leading-7 sm:mb-12 text-center md:text-left text-white bg-zinc-900 bg-opacity-55 px-3 mx-7 rounded-2xl">Xpensea tracks every penny spent in real-time, capturing expenses right at the source, so you can see where your money goes and keep your business on budget</p>
            <div class="w-full justify-center md:justify-start items-center inline-flex px-7">
                <a href="/" target="_blank" class="px-8 py-5 bg-blue hover:bg-white rounded-2xl text-center text-white hover:text-black border hover:border-black text-xl font-medium leading-7">Try Xpensea Now
                </a>
            </div>
        </div>
    </div>
    <div class="flex items-bottom py-5 md:w-6/12 md:pb-6 md:pt-10">
        <img src="/Neneww Macbook Pro Mockup Front View.png" width="100%" height="100%" alt="Hero"/>
    </div>
</div>

<div class="flex-row items-center">
    <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/01.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/02.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/03.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/04.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/05.svg" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/06.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
    </div>
</div>
</Container>

<!--style="background-image: url('background2.png'); background-size: cover; background-position: bottom; background-repeat: no-repeat; overflow: hidden;" -->