---
const { title, description} = Astro.props;
---

<div class="grid place-items-center gap-10 mb-10 md:flex">
    <h2 class="text-3xl sm:text-4xl px-1.5 font-medium bg-yellow rounded-md">
        {title}
    </h2>
    <p class="text-3xl font-medium text-center md:text-start lg:w-3/3">
        {description}
    </p>
</div>